.container{
    margin: 0 auto;
    padding: 32px 48px;
}

.sm{
    max-width: 320px;
}

.lg{
    max-width: 768px;
}

.xl{
    max-width: 1024px;
}

.xxl{
    max-width: 1280px;
}

.fullSize{
    width: 100%;
}